

<h1>This is the about page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, nisi quas nobis voluptas voluptates quos amet odio nemo reiciendis consectetur sequi, exercitationem optio, harum laborum eum quaerat obcaecati delectus ut.

</p>
<%- include('footer') %>
